@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: linear-gradient(rgb(223, 223, 223), rgb(255, 255, 255));
}
h1{ 
    text-shadow: rgb(49, 45, 45) 4px 3px 2px;
}
h1,
h2 {
    margin: 30px;
}

header {
    height: 15vh;
    background-color: #D5BDAF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1rem;
    z-index: 3;
    border: b;
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}



footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    padding-right: 32px;
}

#btnModalCarrito {
    transition: 0.5s;
    border: 1px solid rgb(0, 0, 0);
    background-color: #D5BDAF;
}
#btnModal{
    transition: 0.5s;
    margin-left: 7px;
    border: 1px solid rgb(0, 0, 0);
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
}

#total-text {
    margin-right: 23px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btnAddCart {
    transition: 0.5s;
    background-color: #F5EBE0;
    width: 100%;
    height: 60px;
}

.btnAddCart:hover {
    background-color: #E3D5CA;
}

.mt-1 {
    margin-top: 1rem;
}

#btnSave {
    transition: 0.5s;
    background-color: #F5EBE0;
}

#btnSave:hover {
    background-color: #E3D5CA;
}

#btnOrder2:hover {
    background-color: #E3D5CA;
}

#btnOrder:hover {
    background-color: #E3D5CA;
}

#btnOrder {
    transition: 0.5s;
    background-color: #F5EBE0;
}

#btnOrder2 {
    transition: 0.5s;
    background-color: #F5EBE0;
}

#btnClose {
    transition: 0.5s;
    background-color: #F5EBE0;
}

#btnClose:hover {
    background-color: #E3D5CA;
}

#btnUmbrella{
    transition: 0.5s;
    margin-left: 7px;
    border: 1px solid rgb(0, 0, 0);
  }